* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font: 13px Helvetica, Arial;
  }

  #prompt {
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 37, 48, 0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    /* Why is it not already at the top? */
    z-index: 1000;
  }

  #prompt form {
    margin-top: 20%;
    display: inline-block;
    width: 50%;
  }

  #prompt input {
    display: block;
    width: 100%;
  }

  #prompt button {
    display: block;
    width: 100%;
  }